html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    background-color: #0d1117;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    width: 70%;
    height: 100%;
    display: flex;
}

.header {
    width: 40%;
    height: 100%;
    background-image: url(imgs/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    margin-top: 45%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#logo-img {
    opacity: 100%;
    height: 80%;
}

.logo h1 {
    font-size: 72px;
}

.content {
    width: 70%;
    background-color: #f9fafb;
    padding-left: 40px;
    padding-top: 150px;
}

.form-header {
    font-size: 18px;
    width: 75%;
    padding-bottom: 50px;
}

italic {
    font-style: italic;
}

.form-wrapper {
    background-color: white;
    margin-left: -40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.form-wrapper h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 80px;
}

.input-wrapper label {
    font-size: 12px;
    letter-spacing: 2px;
    color: #0d1117;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-wrapper input{
    border: 1px solid #dadada;
    border-radius: 5px;
    height: 24px;
}

.input-wrapper input:focus {
    border: 1px solid #2064C7;
}

.form-confirmation {
    margin-top: 30px;
}

.form-confirmation button {
    width: 180px;
    height: 48px;
    color: white;
    background-color: #596d48;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 800;
    border-radius: 5px;
    margin-bottom: 40px;
}

.form-confirmation button:hover {
    cursor: pointer;
}